GoDataSyncServices/obj/Debug/
.vs/GoDataSyncServices/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
.vs/GoDataSyncServices/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/GoDataSyncServices/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
.vs/GoDataSyncServices/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
GoDataSyncServices/bin/Debug/
GoDataSyncServices/bin/Debug/net9.0/
