USE [portalapi_ikpi]
GO
/****** Object:  Table [dbo].[Assemblies]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assemblies](
	[id] [uniqueidentifier] NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[unit_measure] [nvarchar](50) NOT NULL,
	[sort] [nvarchar](50) NOT NULL,
	[part_number] [nvarchar](100) NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssemblyChildren]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssemblyChildren](
	[id] [uniqueidentifier] NOT NULL,
	[assembly_id] [uniqueidentifier] NOT NULL,
	[child_assembly_id] [uniqueidentifier] NOT NULL,
	[quantity] [float] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeRequestComments]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeRequestComments](
	[id] [uniqueidentifier] NOT NULL,
	[proposal_id] [uniqueidentifier] NOT NULL,
	[comment_text] [nvarchar](max) NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[is_from_client] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChartOfAccounts]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChartOfAccounts](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[tenants_id] [uniqueidentifier] NULL,
	[companies_id] [uniqueidentifier] NULL,
	[external_id] [nvarchar](255) NULL,
	[account_id] [nvarchar](255) NULL,
	[details] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[proof_statement_type] [nvarchar](50) NULL,
	[account_type] [nvarchar](50) NULL,
	[job_cost_category] [nvarchar](50) NULL,
	[account_category] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[deleted] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientMembers]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientMembers](
	[client_id] [uniqueidentifier] NOT NULL,
	[member_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[client_id] ASC,
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[id] [uniqueidentifier] NOT NULL,
	[tenant_id] [uniqueidentifier] NULL,
	[company_id] [uniqueidentifier] NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [uniqueidentifier] NOT NULL,
	[parent_id] [uniqueidentifier] NOT NULL,
	[parent_type] [nvarchar](50) NOT NULL,
	[comment_text] [nvarchar](max) NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[id] [uniqueidentifier] NOT NULL,
	[tenant_id] [uniqueidentifier] NULL,
	[name] [nvarchar](255) NOT NULL,
	[enabled] [bit] NULL,
	[is_deleted] [bit] NULL,
	[attach_invoices] [bit] NULL,
	[general_labor_id] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyDivisions]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyDivisions](
	[id] [uniqueidentifier] NOT NULL,
	[company_id] [uniqueidentifier] NULL,
	[division_no] [nvarchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[payment_ach_credentials] [nvarchar](max) NULL,
	[payment_card_credentials] [nvarchar](max) NULL,
	[reply_to] [nvarchar](255) NULL,
	[attach_invoices] [bit] NULL,
	[from_email] [nvarchar](255) NULL,
	[taxauthorities_id] [nvarchar](255) NULL,
	[general_labor_id] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyFiles]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyFiles](
	[id] [uniqueidentifier] NOT NULL,
	[company_id] [uniqueidentifier] NULL,
	[key] [nvarchar](255) NOT NULL,
	[url] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyMembers]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyMembers](
	[company_id] [uniqueidentifier] NOT NULL,
	[member_id] [uniqueidentifier] NOT NULL,
	[is_archived] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC,
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyReports]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyReports](
	[id] [uniqueidentifier] NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[from_time] [datetime2](7) NOT NULL,
	[to_time] [datetime2](7) NOT NULL,
	[summary] [nvarchar](max) NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventStore]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventStore](
	[event_id] [uniqueidentifier] NOT NULL,
	[aggregate_id] [uniqueidentifier] NOT NULL,
	[aggregate_type] [varchar](50) NOT NULL,
	[event_type] [varchar](100) NOT NULL,
	[event_data] [nvarchar](max) NOT NULL,
	[version] [int] NOT NULL,
	[timestamp] [datetime2](7) NOT NULL,
	[tenants_id] [uniqueidentifier] NULL,
	[companies_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileComments]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileComments](
	[id] [uniqueidentifier] NOT NULL,
	[file_id] [uniqueidentifier] NOT NULL,
	[comment_text] [nvarchar](max) NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[file_path] [nvarchar](max) NOT NULL,
	[file_type] [nvarchar](50) NULL,
	[file_size] [bigint] NULL,
	[parent_id] [uniqueidentifier] NOT NULL,
	[parent_type] [nvarchar](50) NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filters]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filters](
	[id] [uniqueidentifier] NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[search_template] [nvarchar](max) NOT NULL,
	[accounts_id] [uniqueidentifier] NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[parent_type] [int] NULL,
	[private] [bit] NULL,
	[deleted] [bit] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeoFenceCoordinates]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeoFenceCoordinates](
	[id] [uniqueidentifier] NOT NULL,
	[geofence_id] [uniqueidentifier] NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
	[is_inner] [bit] NOT NULL,
	[coordinate_order] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeoFences]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeoFences](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[color] [nvarchar](50) NOT NULL,
	[parent_id] [uniqueidentifier] NOT NULL,
	[parent_type] [int] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[editor_id] [uniqueidentifier] NOT NULL,
	[deleted] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvitedUsers]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvitedUsers](
	[id] [uniqueidentifier] NOT NULL,
	[tenant_id] [uniqueidentifier] NULL,
	[company_id] [uniqueidentifier] NULL,
	[email] [nvarchar](255) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[company_name] [nvarchar](255) NOT NULL,
	[company_logo_url] [nvarchar](max) NULL,
	[role] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceLineItems]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceLineItems](
	[id] [uniqueidentifier] NOT NULL,
	[invoice_id] [uniqueidentifier] NULL,
	[name] [nvarchar](255) NOT NULL,
	[amount_cents] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoicePayments]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicePayments](
	[id] [uniqueidentifier] NOT NULL,
	[invoice_id] [uniqueidentifier] NULL,
	[amount_cents] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[id] [uniqueidentifier] NOT NULL,
	[tenant_id] [uniqueidentifier] NULL,
	[client_id] [uniqueidentifier] NULL,
	[company_id] [uniqueidentifier] NULL,
	[notes] [nvarchar](max) NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[id] [uniqueidentifier] NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[accounts_id] [nvarchar](100) NULL,
	[deleted] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[id] [uniqueidentifier] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[last_name] [nvarchar](255) NULL,
	[phone_no] [nvarchar](50) NULL,
	[external_id] [nvarchar](255) NULL,
	[status] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentAddresses]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentAddresses](
	[id] [uniqueidentifier] NOT NULL,
	[client_id] [uniqueidentifier] NULL,
	[address_line1] [nvarchar](255) NOT NULL,
	[postal] [nvarchar](50) NOT NULL,
	[country] [nvarchar](2) NOT NULL,
	[is_default] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[id] [uniqueidentifier] NOT NULL,
	[client_id] [uniqueidentifier] NULL,
	[type] [nvarchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[token] [nvarchar](max) NOT NULL,
	[summary] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayrollBatches]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayrollBatches](
	[id] [uniqueidentifier] NOT NULL,
	[company_id] [uniqueidentifier] NOT NULL,
	[batch_number] [int] NOT NULL,
	[interval] [int] NOT NULL,
	[first_day] [datetime2](7) NOT NULL,
	[last_day] [datetime2](7) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[status] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[id] [uniqueidentifier] NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[account_active] [bit] NULL,
	[account_locked_date] [datetime2](7) NULL,
	[account_locked_reason] [nvarchar](max) NULL,
	[address_l1] [nvarchar](255) NULL,
	[address_l2] [nvarchar](255) NULL,
	[allow_pay_cc] [bit] NULL,
	[allow_pay_echeck] [bit] NULL,
	[bill_attention] [nvarchar](255) NULL,
	[city] [nvarchar](100) NULL,
	[client_id] [int] NULL,
	[email] [nvarchar](255) NULL,
	[email_lower_case] [nvarchar](255) NULL,
	[first_name] [nvarchar](100) NULL,
	[invalid_login_attempts] [int] NULL,
	[is_main_contact] [bit] NULL,
	[last_invalid_attempt] [datetime2](7) NULL,
	[last_name] [nvarchar](100) NULL,
	[password] [nvarchar](255) NULL,
	[record_updated_by_portal] [bit] NULL,
	[salutation] [nvarchar](50) NULL,
	[services_active] [bit] NULL,
	[service_show_complete_only] [bit] NULL,
	[state] [nvarchar](100) NULL,
	[tel1] [nvarchar](50) NULL,
	[tel2] [nvarchar](50) NULL,
	[username] [nvarchar](100) NULL,
	[zip] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[id] [uniqueidentifier] NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[external_project_id] [nvarchar](100) NULL,
	[external_division_id] [nvarchar](100) NULL,
	[project_name] [nvarchar](255) NOT NULL,
	[locations_id] [uniqueidentifier] NULL,
	[summary_description] [nvarchar](max) NULL,
	[detail_description] [nvarchar](max) NULL,
	[workflows_id] [uniqueidentifier] NOT NULL,
	[workflow_state] [int] NOT NULL,
	[clients_id] [uniqueidentifier] NOT NULL,
	[project_manager_id] [nvarchar](100) NOT NULL,
	[parent_projects_id] [uniqueidentifier] NULL,
	[start_date_target] [datetime2](7) NULL,
	[end_date_target] [datetime2](7) NULL,
	[accounts_id] [nvarchar](100) NULL,
	[deleted] [bit] NULL,
	[resource_projects_id] [uniqueidentifier] NULL,
	[resource_tasks_id] [uniqueidentifier] NULL,
	[travel_projects_id] [uniqueidentifier] NULL,
	[travel_tasks_id] [uniqueidentifier] NULL,
	[divisions_id] [int] NULL,
	[branch_id] [int] NULL,
	[default_tax_authority_id] [int] NULL,
	[clients_name] [nvarchar](255) NULL,
	[transaction_made] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectTags]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTags](
	[project_id] [uniqueidentifier] NOT NULL,
	[tag_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[project_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proposals]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proposals](
	[id] [uniqueidentifier] NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[projects_id] [uniqueidentifier] NOT NULL,
	[clients_id] [uniqueidentifier] NOT NULL,
	[proposal_number] [nvarchar](100) NOT NULL,
	[proposal_version] [int] NOT NULL,
	[created_by_id] [uniqueidentifier] NOT NULL,
	[template_config] [nvarchar](max) NULL,
	[status] [int] NULL,
	[generated_at] [datetime2](7) NULL,
	[last_updated_at] [datetime2](7) NULL,
	[sent_at] [datetime2](7) NULL,
	[viewed_at] [datetime2](7) NULL,
	[signed_at] [datetime2](7) NULL,
	[rejected_at] [datetime2](7) NULL,
	[signing_details] [nvarchar](max) NULL,
	[pdf_file_id] [uniqueidentifier] NULL,
	[is_archived] [bit] NULL,
	[client_email] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecurringOptions]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecurringOptions](
	[id] [uniqueidentifier] NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[accounts_id] [nvarchar](100) NULL,
	[deleted] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceInstances]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceInstances](
	[id] [uniqueidentifier] NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[parents_id] [uniqueidentifier] NULL,
	[external_id] [nvarchar](100) NULL,
	[projects_id] [uniqueidentifier] NULL,
	[tasks_id] [uniqueidentifier] NULL,
	[purchase_order_id] [nvarchar](100) NULL,
	[sort_order] [float] NULL,
	[summary_description] [nvarchar](max) NULL,
	[detail_description] [nvarchar](max) NULL,
	[priority] [int] NULL,
	[expense_gl_account] [int] NULL,
	[sales_gl_account] [int] NULL,
	[unit_of_measure] [nvarchar](50) NULL,
	[quantity_required_per_parent_unit] [float] NULL,
	[budget_quantity] [float] NULL,
	[purchase_budget_cost_per_unit_low] [decimal](18, 2) NULL,
	[purchase_budget_cost_per_unit_high] [decimal](18, 2) NULL,
	[purchase_budget_cost_per_unit_commit] [decimal](18, 2) NULL,
	[margin] [float] NULL,
	[selling_price_per_unit] [decimal](18, 2) NULL,
	[selling_price_extended] [decimal](18, 2) NULL,
	[next_quantity_requested] [float] NULL,
	[next_quantity_requested_date] [datetime2](7) NULL,
	[quantity_ordered] [float] NULL,
	[quantity_received] [float] NULL,
	[quantity_installed] [float] NULL,
	[quantity_remain_to_install] [float] NULL,
	[bill_type] [nvarchar](50) NULL,
	[workflows_id] [uniqueidentifier] NULL,
	[catalogs_id] [uniqueidentifier] NULL,
	[updated] [datetime2](7) NULL,
	[author_id] [uniqueidentifier] NULL,
	[alternate_summary_description] [nvarchar](max) NULL,
	[used_quantity] [float] NULL,
	[type] [nvarchar](50) NULL,
	[sort] [nvarchar](50) NULL,
	[default_unit_cost] [decimal](18, 2) NULL,
	[default_unit_cost_type] [nvarchar](50) NULL,
	[inventory_standard_unit_cost] [decimal](18, 2) NULL,
	[inventory_standard_cost_date] [nvarchar](50) NULL,
	[list_unit_price] [decimal](18, 2) NULL,
	[upc] [nvarchar](50) NULL,
	[part_id] [nvarchar](50) NULL,
	[catalogitems_id] [uniqueidentifier] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMembers]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMembers](
	[role_id] [uniqueidentifier] NOT NULL,
	[member_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NULL,
	[parent_type] [nvarchar](50) NOT NULL,
	[parent_id] [nvarchar](255) NOT NULL,
	[kind] [nvarchar](50) NOT NULL,
	[resource] [nvarchar](255) NOT NULL,
	[child_ids] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [uniqueidentifier] NOT NULL,
	[parent_type] [nvarchar](50) NOT NULL,
	[parent_id] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[enabled] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[id] [uniqueidentifier] NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[deleted] [bit] NULL,
	[resource_type] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[parent_tasks_id] [uniqueidentifier] NULL,
	[locations_id] [uniqueidentifier] NULL,
	[projects_id] [uniqueidentifier] NOT NULL,
	[workflows_id] [uniqueidentifier] NOT NULL,
	[summary_contract_description] [nvarchar](max) NULL,
	[summary_production_description] [nvarchar](max) NULL,
	[detail_contract_description] [nvarchar](max) NULL,
	[detail_production_description] [nvarchar](max) NULL,
	[workflow_state] [int] NOT NULL,
	[priority] [float] NULL,
	[custom_sort] [nvarchar](100) NULL,
	[sequence] [float] NULL,
	[promised_date] [datetime2](7) NULL,
	[target_start_date] [datetime2](7) NULL,
	[target_end_date] [datetime2](7) NULL,
	[actual_end_date] [datetime2](7) NULL,
	[production_clock_hours_allowed_per_day] [float] NULL,
	[story_points] [float] NULL,
	[budget_hours_total] [float] NULL,
	[billing_type] [int] NULL,
	[billing_rate_in_cents] [decimal](18, 2) NULL,
	[billing_amount_in_cents] [decimal](18, 2) NULL,
	[accounts_id] [nvarchar](100) NULL,
	[deleted] [bit] NULL,
	[recurring_options_id] [uniqueidentifier] NULL,
	[recurring_state] [int] NULL,
	[project_manager_member_id] [uniqueidentifier] NULL,
	[sales_person_member_id] [uniqueidentifier] NULL,
	[estimator_member_id] [uniqueidentifier] NULL,
	[purchaser_member_id] [uniqueidentifier] NULL,
	[profit_center_id] [int] NULL,
	[branch_id] [int] NULL,
	[billing_batch_id] [int] NULL,
	[budget_occurrences] [int] NULL,
	[external_id] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTags]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTags](
	[task_id] [uniqueidentifier] NOT NULL,
	[tag_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTeams]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTeams](
	[task_id] [uniqueidentifier] NOT NULL,
	[team_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC,
	[team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaxAuthorities]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxAuthorities](
	[id] [uniqueidentifier] NOT NULL,
	[tenants_id] [uniqueidentifier] NULL,
	[companies_id] [uniqueidentifier] NULL,
	[division_no] [int] NOT NULL,
	[sort_order] [float] NOT NULL,
	[tax_entity_name] [nvarchar](255) NOT NULL,
	[detail_description] [nvarchar](max) NULL,
	[account_number] [nvarchar](255) NULL,
	[expense_gl_account] [nvarchar](255) NULL,
	[payable_gl_account] [nvarchar](255) NULL,
	[tax_rate] [float] NOT NULL,
	[phone_number] [nvarchar](50) NULL,
	[website] [nvarchar](255) NULL,
	[project_default] [bit] NULL,
	[deleted] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMembers]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMembers](
	[team_id] [uniqueidentifier] NOT NULL,
	[member_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[team_id] ASC,
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[id] [uniqueidentifier] NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[accounts_id] [nvarchar](100) NULL,
	[deleted] [bit] NULL,
	[external_payroll_id] [nvarchar](100) NULL,
	[hours_per_week] [float] NULL,
	[hours_per_day] [float] NULL,
	[expected_hours_of_working] [nvarchar](max) NULL,
	[start_of_the_day_projects_id] [uniqueidentifier] NULL,
	[end_of_the_day_projects_id] [uniqueidentifier] NULL,
	[end_of_the_day_locations_id] [uniqueidentifier] NULL,
	[daily_default_clock_out_time] [datetime2](7) NULL,
	[status] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamTimeClocks]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamTimeClocks](
	[id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamTracking]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamTracking](
	[id] [uniqueidentifier] NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[projects_id] [uniqueidentifier] NOT NULL,
	[tasks_id] [uniqueidentifier] NOT NULL,
	[teams_id] [uniqueidentifier] NOT NULL,
	[accounts_id] [uniqueidentifier] NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenants]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenants](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[enabled] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeClockEntries]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeClockEntries](
	[id] [uniqueidentifier] NOT NULL,
	[team_time_clock_id] [uniqueidentifier] NOT NULL,
	[member_id] [uniqueidentifier] NOT NULL,
	[clock_in_time] [datetime2](7) NULL,
	[clock_out_time] [datetime2](7) NULL,
	[break_start_time] [datetime2](7) NULL,
	[break_end_time] [datetime2](7) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrackLocations]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackLocations](
	[id] [uniqueidentifier] NOT NULL,
	[team_tracking_id] [uniqueidentifier] NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
	[timestamp] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workflows]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workflows](
	[id] [uniqueidentifier] NOT NULL,
	[tenants_id] [uniqueidentifier] NOT NULL,
	[companies_id] [uniqueidentifier] NOT NULL,
	[summary_description] [nvarchar](max) NULL,
	[detail_description] [nvarchar](max) NULL,
	[sort_order] [float] NULL,
	[accounts_id] [nvarchar](100) NULL,
	[deleted] [bit] NULL,
	[workflow_state_completed] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkflowStates]    Script Date: 5/22/2025 1:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowStates](
	[id] [uniqueidentifier] NOT NULL,
	[workflows_id] [uniqueidentifier] NOT NULL,
	[state_name] [nvarchar](100) NOT NULL,
	[state_order] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
